*{font-family: calibri; font-size: 30px;}

.darkmode{
    background-color: #020202; 
    color: #f0ece2;
}

#jogo{
    margin: 0 auto;
    display: grid;  
    grid-template-columns: 120px 120px 120px;  
    grid-template-rows: 120px 120px 120px;
}

#jogo div {
    display: flex;
    background-color: black;
    border: 3px solid cyan;
    font-size: 80px;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    justify-content: center;
    align-content: center;
}